{% extends 'base.html' %}
{% block content %}
<div style="text-align: center;" class="container" >
    <div class="mb-3">
      <form method="POST" > 
        {% csrf_token %}
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Enter text for coverting</label>
        <textarea class="form-control" name="tarea" rows="3">{% lorem 1 p random %}</textarea>
      </div>

      <div>
          <button class="btn btn-primary" type="submit">Lower</button>
      </div>
    </form>
    <br><br>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Formatted Text</label>
      <textarea class="form-control" rows="3" 
      disabled='disabled'>{{txt|upper}}
      </textarea>
    </div> 
</div>
{% endblock content %}

