{% extends 'base.html' %}

{% block content %}
<div style="text-align: center;" class="container" >
    <div class="mb-3">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div>
          <button class="btn btn-primary">Lower</button>
      </div>

	{% filter force_escape|lower %}
        This text will be HTML-escaped, and will appear in all lowercase.
    {% endfilter %}
</div>
{% endblock content %}

